body {
	font-family: ubuntu;
	background-attachment: fixed;
}
a {
	cursor: pointer;
}
::selection {
	color: #731cdc;/* red */
	background-color: #f6dc5f;/* #a8c9ff */
}
#logo {
	top: 0;
	left: 0;
	position: absolute;
	width: 80%;
	height: 13%;/* 85px */
	color: white;
	font-size: 300%;
	padding-top: 2%;/* 27px */
	padding-left: 20%;
	background-color: #4c4c39;
	text-align: center;
}
#go-top{
	display: none;
	top: 85%;
	left: 93%;
	position: fixed;
	color: transparent;
	background: url(top.png);
	width: 48px;
	height: 48px;
}
.cls1{
	color: #471571;
	font-weight: bold;
	font-size: 155%;
	text-align: center;
}
.cls2{
	text-decoration: none;
}
#name{
	text-align: center;
	font-size: 150%;
}
#wlc{
	text-align: center;
	font-family: helvetica;
	color: #ff363b;
	font-size: 180%;
	font-style: oblique;
}
#page-home {
	margin-top: 10%;
	text-align: center;
	margin-left: 21%;
	width: 67.5%;
	padding: 25px 50px 30px 50px;
	background-color: #ddd;
	font-size: 120%;
	color: black;
	border-radius: 20px;
}
#page-hob{
	text-align: center;
	margin-left: 19.6%;
	margin-top: 10%;
}
#page-hob img{
	border-radius:15px
}
#page-projects{
	margin-left: 21%;
	margin-top: 10%;
}
#page-about {
	margin-top: 10%;
	text-align: center;
	margin-left: 21%;
	width: 71%;
	padding: 2%;
	background-color: #ddd;
	font-size:240%;
	font-weight: bold;
	color: black;
	border-radius: 20px;
}
#page-contact{
	margin-top: 13%;
	margin-left: 23%;
	font-size: 150%;
}
#header-hob{
	font-size: 170%;
	text-align: center;
	color: #4c4c4c;
	font-style: oblique;
}
#billiards{
	height: 420px;
	width: 300px;
}

#feedback{
	font-family: ubuntu;
}
#feed-button {
	background-color: #009688;
	color: white;
	padding: 8px 23px;
	text-align: center;
	font-size: 20px;
	font-family: ubuntu;
	margin: 4px 2px;
	cursor: pointer;
}
#copyrights{
	font-size: 140%;
	margin-left: 20%;
	text-align: center;
	color: gray;
	font-style: oblique;
}
#game{
	width: 440px;
	height: 330px;
}

#game1{
	float:left;
	width: 39%;
}
#game2{
	float: right;
	width: 39%;
	margin-right: 100px;
}
#d-game{
	text-decoration: none;
	display: block;
}