{% extends "home.html" %}
{% block body %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type"image png" href="../static/contact.png">
		<title>{{title}}</title>
		<div id="logo">Ibraheem Ajaj's Website | Contact me</div>
	</head>
	<body background="../static/bg2.jpg">
		<div id="page-contact">
	
		<p>Tell me what you really think about me,<br>Be honest and sincere, you'll stay anonymous :)<br>⬇⬇<br>

		<textarea id="feedback" name="feedback" placeholder="Write your feedbak here ..." rows="5" cols="30"></textarea>
		<br>
		<input id="feed-button" title="Submit your feedback" type="submit" value="Submit">

		<a title="Sayat (Feedback)" class="cls2" href="http://sayat.me/ibajaj01" target="_blank">Click here</a>
		<br>My number:0597616205<br>Email:barhoom_ajaj@hotmail.com</p>

		<a title="Facebook" target="_blank" href="https://www.facebook.com/ibajaj01" ><img src="../static/facebook.png"></a>
		<a title="Instagram" target="_blank" href="https://www.instagram.com/ibraheem_ajaj/" ><img src="../static/instagram.png"></a>
		</div>

		<p id="copyrights" > © 2017 Ibraheem Ajaj. All Rights Reserved. </p>
	</body>
{% endblock %}