{% extends "home.html" %}
{% block body %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type"image png" href="../static/hobbies.png">
		<title>{{title}}</title>
		<div id="logo">Ibraheem Ajaj's Website | Hobbies</div>
	</head>
	<body background="../static/bg2.jpg" >
		<div id="page-hob">
		<p id="header-hob">My hobbies ⬇⬇⬇</p>

		<p class="cls1" >Coding</p>
		<img src="../static/coding.jpg" >

		<p class="cls1" ><br>Football</p>
		<img src="../static/football.jpg" >

		<p class="cls1" ><br>Table Tennis</p>
		<img src="../static/tennis.jpg">
		</div>

		<a onclick="topFunction()" id="go-top" class="fadeIn" >Go to top</a>
		<p id="copyrights"> © 2017 Ibraheem Ajaj. All Rights Reserved. </p>

		<script>
		// When the user scrolls down 700px from the top of the document, show the button
		window.onscroll = function() {scrollFunction()};

		function scrollFunction() {
			if (document.body.scrollTop > 270 || document.documentElement.scrollTop > 700) {
			document.getElementById("go-top").style.display = "block";
			} else {
				document.getElementById("go-top").style.display = "none";
			}
		}

		// When the user clicks on the button, scroll to the top of the document
		function topFunction() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
		}
		</script>
	</body>
{% endblock %}