<!DOCTYPE html>
<html>
{% block body %}{% endblock %}
	<head>
		<link rel="stylesheet" type="text/css" href="../static/styles.css" >
		<link rel="stylesheet" type="text/css" href="../static/sidebar.css" >
		<link rel="stylesheet" type="text/css" href="../static/animated.css" >

		<div class="sidebar">
			<img class="Left" src="../static/ajaj.jpg">
			<a class="rollIn" href="index.html">Home</a>
			<a class="rollIn" href="hobbies.html">Hobbies</a>
			<a class="rollIn" href="projects.html">Projects</a>
			<a class="rollIn" href="about.html">About</a> 
			<a class="rollIn" href="contact.html">Contact me</a>
		</div>
	</head>