<!DOCTYPE html>
<html>
{% block body %}{% endblock %}
	<head>
		<link rel="stylesheet" type="text/css" href="../static/styles.css" >
		<link rel="stylesheet" type="text/css" href="../static/sidebar.css" >
		<link rel="stylesheet" type="text/css" href="../static/animated.css" >

		<div class="sidebar">
			<img class="Left" src="../static/ajaj.jpg">
			<a class="rollIn" href="/home">Home</a>
			<a class="rollIn" href="/hobbies">Hobbies</a>
			<a class="rollIn" href="/projects">Projects</a>
			<a class="rollIn" href="/about">About</a> 
			<a class="rollIn" href="/contact">Contact me</a>
		</div>
	</head>