{% extends "home.html" %}
{% block body %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type"image png" href="../static/projects.png">
		<title>{{title}}</title>
		<div id="logo">Ibraheem Ajaj's Website | Projects</div>
	</head>
	<body background="../static/bg3.png">
		<div id="page-projects">
			<div id="game1">
			<center><img id="game" src="../static/running.jpg">
			<p id="cent">Running game</p>
			<a id="d-game" title="Download" href="../static/running.zip" download>Click here to download the game</a></center>
			</div>

			<div id="game2">
			<center><img id="game" src="../static/space-in.png">
			<p id="cent">Space Invaders game</p>
			<a id="d-game" title="Download" href="../static/space-in.zip" download>Click here to download the game</a></center>
			</div>
		</div>

		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><p id="copyrights"> © 2017 Ibraheem Ajaj. All Rights Reserved. </p>
		<body></body>
	</body>
{% endblock %}